/*
--------------------
BUTTON RESET
--------------------
*/

button {
    border: none;
    padding: 0;
    cursor: pointer;
}

/*
--------------------
BUTTON
--------------------
*/

.button {
    display: inline-block;
    box-sizing: border-box;
    font-size: 1.25em;
    text-align: center;
    text-decoration: none;
    line-height: 1.125em;
    letter-spacing: 0.05em;
    transition: all 0.2s;
}

/* ----- Icon (optionnal) ----- */

.button__icon {
    transition: all 0.2s;
}

/* ----- Label (optionnal) ----- */

.button__label {
  font-family: "Bebas Neue", "Source Sans Pro", sans-serif;
}

/* ----- Wrap (optionnal) ----- */

.button__wrap {
    margin: 1em 0;
        margin-bottom: 1em;
}

/* ----- Size (optionnal) ----- */

.button.x-large {
    font-size: 1.75em !important;
}

.button.large {
    font-size: 1.5em;
}

.button.small {
    font-size: 1em;
}

.button.x-small {
    font-size: 0.75em;
}

/*
--------------------
THEME (necessary)
--------------------
*/

/* Primary */

.button.primary.button_basic,
.button.primary.button_round > .button__icon {
    color: white;
    background-color: #579ea5;
    border-color: #579ea5;
}

.button.primary.button_basic:hover,
.button.primary.button_basic:focus,
.button.primary.button_round:hover > .button__icon,
.button.primary.button_round:focus > .button__icon {
    background-color: #42767a;
    border-color: #42767a;
}

.button.primary.button_basic:active,
.button.primary.button_round:active > .button__icon {
    background-color: #00c3d6;
    border-color: #00c3d6;
}

.button.primary.button_icon { color: #579ea5; }
.button.primary.button_icon:hover,
.button.primary.button_icon:focus { color: #42767a; }
.button.primary.button_icon:active { color: #00c3d6; }

/* Secundary */

.button.secundary.button_basic,
.button.secundary.button_round > .button__icon {
    color: #42767a;
    background-color: #ffffff;
    border-color: #579ea5;
}

.button.secundary.button_basic:hover,
.button.secundary.button_basic:focus,
.button.secundary.button_round:hover > .button__icon,
.button.secundary.button_round:focus > .button__icon {
    color: #ffffff;
    border-color: #42767a;
    background-color: #42767a;
}

.button.secundary.button_basic:active,
.button.secundary.button_round:active > .button__icon {
    color: #ffffff;
    background-color: #00c3d6;
    border-color: #00c3d6;
}

/* Success */

.button.success.button_basic,
.button.success.button_round > .button__icon {
    color: #ffffff;
    background-color: #7da237;  
    border-color: #7da237;
}

.button.success.button_basic:hover,
.button.success.button_basic:focus,
.button.success.button_round:hover > .button__icon,
.button.success.button_round:focus > .button__icon {
    color: #ffffff;
    border-color: #466b32;
    background-color: #466b32;
}

.button.success.button_basic:active,
.button.success.button_round:active > .button__icon {
    color: #ffffff;
    background-color: #82c700;
    border-color: #82c700;
}

.button.success.button_icon { color: #7da237; }
.button.success.button_icon:hover,
.button.success.button_icon:focus { color: #466b32; }
.button.success.button_icon:active { color: #82c700; }

/* Warning */

.button.warning.button_basic,
.button.warning.button_round > .button__icon {
    color: #ffffff;
    background-color: #db9500;  
    border-color: #db9500;
}

.button.warning.button_basic:hover,
.button.warning.button_basic:focus,
.button.warning.button_round:hover > .button__icon,
.button.warning.button_round:focus > .button__icon {
    color: #ffffff;
    border-color: #a86e00;
    background-color: #a86e00;
}

.button.warning.button_basic:active,
.button.warning.button_round:active > .button__icon {
    color: #ffffff;
    background-color: #ffad00;
    border-color: #ffad00;
}

.button.warning.button_icon { color: #db9500; }
.button.warning.button_icon:hover,
.button.warning.button_icon:focus { color: #a86e00; }
.button.warning.button_icon:active { color: #ffad00; }

/* Danger */

.button.danger.button_basic,
.button.danger.button_round > .button__icon {
    color: #ffffff;
    background-color: #a41515;  
    border-color: #a41515;
}

.button.danger.button_basic:hover,
.button.danger.button_basic:focus,
.button.danger.button_round:hover > .button__icon,
.button.danger.button_round:focus > .button__icon {
    color: #ffffff;
    border-color: #75160c;
    background-color: #75160c;
}

.button.danger.button_basic:active,
.button.danger.button_round:active > .button__icon {
    color: #ffffff;
    background-color: #e10000;
    border-color: #e10000;
}

.button.danger.button_icon { color: #a41515; }
.button.danger.button_icon:hover,
.button.danger.button_icon:focus { color: #75160c; }
.button.danger.button_icon:active { color: #e10000; }

/*
--------------------
BASIC'S VARIATIONS
--------------------
*/

.button_basic {
    padding: 0.75em 1.25em 0.65em;
    border-style: solid;
    border-width: 0.1em;
}

.button_basic.small {
    padding: 0.5em 0.875em 0.45em;
}

.button_basic.x-small {
    padding: 0.35em 0.625em 0.325em;
}

/*
--------------------
ICON'S VARIATIONS
--------------------
*/

.button_icon {
    background-color: transparent;
    padding: 0.5em;
}

/*
--------------------
ROUND'S VARIATION
--------------------
*/

.button_round {
    font-size: 1.5em;
    background-color: transparent !important;
    padding: 0;
    border: none !important;
    font-family: "Source Sans Pro", sans-serif;
}

.button_round > .button__icon {
    display: block;
    position: relative;
    box-sizing: border-box;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
}

.button_round > .button__icon > i,
.button_round > .button__icon > svg {
    position: absolute;
    top: calc(50% - 0.5em);
    left: calc(50% - 0.5em);
    width: 1em;
    transition: all 0.2s;
}

/*
--------------------
READ MORE'S VARIATION
--------------------
*/

.button_read-more {
    display: block;
}

.button__wrap > .button_read-more {
    top: -0.75em;
}

.button_read-more:hover > .button__icon > i,
.button_read-more:hover > .button__icon > svg,
.button_read-more:focus > .button__icon > i,
.button_read-more:focus > .button__icon > svg,
a:hover .button_read-more > .button__icon > i,
a:hover .button_read-more > .button__icon > svg,
a:focus .button_read-more > .button__icon > i,
a:focus .button_read-more > .button__icon > svg {
    transform: rotate(45deg);
}



/*
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
Bin
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------



.button_icon.button_tight {
    padding: 0;
}

*/