/*
--------------------
HERO
--------------------
*/

.hero {
    position: relative;
    padding: 0;
}

@media (min-width: 800px) {
    .hero {
        font-size: 1.5em;
        min-height: 20em;
    }
}

@media (max-width: 799px) {
    .hero {
        min-height: 12.5em;
    }
}

/* ----- hero vignette----- */

.hero .vignette {
    position: absolute;
    height: 100%;
    z-index: 0;
    background-color: #db9500;
}

.vignette__image-wrap::after {
    content: "";
    background: linear-gradient(rgba(219, 149, 0, 0), rgba(219, 149, 0, 1));
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0;
}

@media (min-width: 800px) {

    .hero .vignette {
        width: 170%;
        margin-left: -35%;
    }

    /* hero_v (cf. page connexion) */
    .hero_v .vignette {
        width: 120%;
        margin-left: -10%;
        margin-top: -5%;
    }

}

@media (max-width: 799px) {

    .hero .vignette {
        width: 240%;
        margin-left: -80%;
    }

}

/* ----- hero container ----- */

.hero__container {
    position: relative;
    z-index: 3;
    padding-top: 5em;
}

@media (min-width: 800px) {

    .hero__container {
        position: relative;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

}