/*
--------------------
LIST
--------------------
*/

.list {
    list-style: none;
    padding: 0.5em 0;
    display: flex;
    margin: 0;
}

.list_v {
    flex-direction: column;
    align-items: flex-start;
}

/*
--------------------
LIST SIMPLE
--------------------
*/

[class*="list_simple"] {
    padding-left: 1em;
    list-style-position: outside;
}

[class*="list_simple"] > li {
    margin: 0.5em 0;
}

.list_simple_arrow {
    list-style-type: '»  ';
    padding-left: 0.5em;
}
