/*
--------------------
CTA
--------------------
*/

.CTA__wrap {
    text-align: center;
    overflow: hidden;
}

.CTA__container {
    max-width: 40em;
    margin: auto;
}

/*
--------------------
CTA CONTENT
--------------------
*/

.CTA__title {
    text-align: center;
    font-size: 2.5em;
    margin: 0.5rem 0;
}

.CTA__subtitle {
    font-size: 1.5em;
    margin: 1rem 0;
}

.CTA__content {
    margin: 0.5rem 0 1rem;
    padding: 1px 0;
}