/*
--------------------
SECTIONS
--------------------
*/

.fw-section {
    width: 100%;
    position: relative;
    padding: 1px 0;
}

.fh-section {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media (min-width: 1024px) {
    .fh-section { min-height: 100vh; }
}

.section__container {
    padding: 4em 0;
}

/*
--------------------
CHIMNEY
--------------------
*/

[class*="chimney"] {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

@media (max-width: 1199px) and (min-width: 800px) {
    [class*="chimney"] { margin: 0 3em; }
}

@media (min-width: 800px) {
    [class*="chimney"] {width: calc(100% - 6em); }
}

@media (max-width: 799px) {
    [class*="chimney"] { width: 80%; }
}

.chimney.fluid { max-width: none; }
.chimney.small { max-width: 50em; }
.chimney.x-small { max-width: 37.5em; }