





/*
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
BARS
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
*/

 /*
-----------------------------
TOP BARS
*/

/*
@media (min-width: 800px) {

    .top-bar {
        position: relative;
    }

    .top-bar {
        z-index: 3;
    }

    .top-bar.block_trame > * {
        z-index: initial;
    }

    .top-bar.block_trame > * {
        z-index: initial;
    }

    .chimney_top-bar {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 85%;
    }

    .top-bar__1 .chimney_top-bar { z-index: 5 !important; }
    .top-bar__2 .chimney_top-bar { z-index: 4 !important; }

    .top-bar__2 {
        padding: 0 0.5em;
        box-sizing: border-box;
        color: #ffffff;
    }

}
*/



