.placeholeder-carte {
    display: block;
    width: 100%;
}

/*
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
Couleurs
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
*/

.bg-blue_light { background-color: #579ea5 !important; color: #ffffff; }
.bg-blue_dark { background-color: #42767a !important; color: #ffffff; }
.bg-blue_bright { background-color: #00c3d6 !important; color: #ffffff; }

.bg-green_light { background-color: #7da237 !important; color: #ffffff; }
.bg-green_medium { background-color: #567e36 !important; color: #ffffff; }
.bg-green_dark { background-color: #466b32 !important; color: #ffffff; }
.bg-green_bright { background-color: #82c700 !important; color: #ffffff; }

.bg-red_light { background-color: #a41515 !important; color: #ffffff; }
.bg-red_medium { background-color: #85170f !important; color: #ffffff; }
.bg-red_dark { background-color: #75160c !important; color: #ffffff; }
.bg-red_bright { background-color: #e10000 !important; color: #ffffff; }

.bg-yellow_light { background-color: #db9500 !important; }
.bg-yellow_dark { background-color: #a86e00 !important; }
.bg-yellow_bright { background-color: #ffad00 !important; }

.bg-charcoal { background-color: #33383d !important; color: #ffffff; }
.bg-white { background-color: #ffffff !important; color: #33383d; }
.bg-pearl { background-color: #f5f5f5 !important; }
.bg-cream {background-color: #eae6cf !important;}

.bg-night { background-color: rgba(1, 50, 73); }

/*
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
Micro components
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
*/

/*
-----------------------------
pastille number
*/

.logo__wrap {
    display: inline-block;
    width: 10rem;
    padding: 0.5rem;
    border-radius: 50%;
}

.logo__wrap:hover,
.logo__wrap:focus {
    background-color: rgba(0, 0, 0, 0.1);
}

/*
-----------------------------
pastille number
*/

.pastille-number__wrap {
    position: relative;
    margin-right: 1rem;
}

.pastille-number {
    position: absolute;
    display: inline-block;
    font-size: 0.75rem;
    min-width: 2em;
    height: 2em;
    padding: 0.25em;
    box-sizing: border-box;
    border-radius: 50%;
    text-align: center;
    line-height: 1.25em;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    background-color: #a41515;  
    z-index: 2;
    left: calc(100% + 0.5em);
    top: calc(50% - 1.1em);
}

/*
-----------------------------
embed-youtube-resize
*/

.embed-youtube-resize {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.embed-youtube-resize iframe,  
.embed-youtube-resize object,  
.embed-youtube-resize embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


/*
-----------------------------
Vignette
*/

.vignette__wrap {
    position: relative;
    width: 100%;
    overflow: hidden;
}

a:hover > .vignette__wrap::before,
a:focus > .vignette__wrap::before {
    opacity: 0.1;
}

.vignette__wrap > *:not(.vignette__image) {
    z-index: 2;
}

/* ---- vignette deco ----- */
/* image de contenu non situé dans une tuile. Ces règles régente surtout son comportement sur petits écrans */

@media (min-width: 800px) {
    .vignette_deco {
        position: absolute !important;
        width: 80%;
    }
}

@media (max-width: 799px) {
    .vignette_deco {
        position: relative;
        width: 30%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 499px) {
    .vignette_deco {
        width: 50%;
    }
}

/* ----- vignette avatar ----- */

.vignette_avatar {
    border-radius: 50%;
}

/* ----- vignette crédit ----- */

.vignette__credit {
    position: absolute;
    transition: opacity 0.2s ease-in-out;
    /* transform-origin: left bottom;
    transform: rotate(-90deg);
    left: 1.5em;
    bottom: 0;
    text-align: left; */
    bottom: 0;
    right: 0;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0 0.5em;
    text-align: right;
    font-size: 0.75rem;
    color: #fff;
    text-shadow: 1px 1px 3px #013249, -1px -1px 3px #013249;
    background: linear-gradient(rgba(1, 50, 73, 0), rgba(1, 50, 73, 0.3));
}

.vignette__credit { opacity: 0; }
*:hover > .vignette__wrap > .vignette__credit { opacity: 1; }

/* ----- vignette photo ----- */

.vignette__wrap.vignette_photo::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.2;
    transition: all 0.2s ease-in-out;
    background: url("./../img/motif_rayure_black.png") repeat;
    opacity: 0.15;
}

.vignette__wrap.vignette_photo::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-in-out;
}

.vignette__wrap.vignette_photo::after {
    background: linear-gradient(rgba(206, 71, 10, 0) 0%, rgba(206, 71, 10, 0.1) 25%, rgba(206, 71, 10, 0.3) 75%, rgba(1, 50, 73, 0.3) 100%);
    z-index: 1;
}

a:hover .vignette_photo::after,
a:focus .vignette_photo::after {
    opacity: 0.5;
}

/* ----- vignette ratio ----- */

[class*="vignette_ratio"] {
    position: relative;
    background-color: #579ea5;
    overflow: hidden;
    z-index: 0 !important;
}

.vignette_ratio_1-1 { padding-top: 100%; }
.vignette_ratio_3-4 { padding-top: 75%; }
.vignette_ratio_1-2 { padding-top: 50%; }


[class*="vignette_ratio"] > .vignette__image {
    position: absolute;
    top: 0;
    left: 0;
}

/* ----- vignette image ----- */

.vignette__image {
    display: block;
    position: relative;
    width: 100%;
    margin-left: 0;
    margin-top: 0;
    z-index: 0;
    transition: all 0.2s ease-out;
}

/*
-----------------------------
fiche
*/

.fiche__header {
    padding-top: 2em;
    padding-bottom: 2em;
}

@media (min-width: 800px) {
    .fiche__header {
        padding-left: 2em;
        padding-right: 2em;
    }
}

.fiche__entry__wrap {
    margin: 1em 0;
}

h6.fiche__entry__title {
    font-family: "Bebas Neue", "Source Sans Pro", sans-serif;
    font-weight: normal;
    font-size: 1.25em;
    margin-bottom: 0;
    text-align: left;
}

h4.fiche__entry__title {
    text-align: center;
}

h4.fiche__entry__title > i {
    display: block;
    margin: 0.5em 0;
}

@media (min-width: 800px) {

    .fiche__miniature__wrap {
        position: absolute;
        width: 100%;
        box-sizing: border-box;
        top: -3em;
        z-index: 2;
    }

    .fiche__video__wrap {
        margin: -2.5em 0 0;
        position: relative;
        z-index: 2;
    }

    .fiche__miniature__wrap  > .vignette_deco {
        position: relative !important;
        width: 100%;
    }
}

@media (max-width: 799px) {
    .fiche__miniature__wrap,
    .fiche__video__wrap {
        padding: 2em 0 0;
    }
}


/*
-----------------------------
download button
*/

.download__wrap {
    width: 100%;
    padding: 1em 10%;
    box-sizing: border-box;
    text-align: center;
    z-index: 1;
}

@media (min-width: 800px) {
    .download__wrap {
        position: absolute;
        bottom: -3.5em;
    }
}

@media (max-width: 799px) {
    .download__wrap {
        position: relative;
        margin-top: -3.5em;
    }
}


/*
-----------------------------
veil
*/

.veil {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0.75;
}

/*
-----------------------------
exergue
*/

.exergue {
    font-size: 2em;
    color: #a86e00;
    border-style: solid;
    border-width: 0 0.125em;
    padding: 0.5em 1.5em;
    margin: 2em -1.5em;
    border-color: #db9500;
}

/*
-----------------------------
pagination
*/

.pagination {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 3em 0;
}

.pagination__link {
    display: block;
    padding: 0.25em;
    min-width: 1.85em;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    color: #579ea5;
    border-width: 1px;
    border-style: solid;
}

span.pagination__link {
    border-color: transparent;
}

a.pagination__link {
    border-color: #579ea5;
}

.pagination__keyword {
    border-color: transparent;
    background-color: rgba(87, 158, 165, 0.1);
}

.pagination__link.is-active {
    background-color: #42767a;
    color: #ffffff;
    font-style: 1.15em;
    font-weight: bold;
}


/*
-----------------------------
tag
*/

.tag__wrap {
    margin-left: -0.25em;
    margin-right: -0.25em;
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}

.vignette__wrap > .tag__wrap {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 1em;
    margin-bottom: 1em;
    z-index: 3;
}

.tag__wrap.list_v {
    align-items: flex-start;
}

/* ----- tag wrap position ----- */

.tag__wrap.right {
    right: 0;
    left: initial;
}

.tag__wrap.bottom {
    bottom: 0;
    top: initial;
}

/* ----- tag ----- */

.tag {
    display: inline-block;
    padding: 0.125em 0.25em 0.0625em;
    margin: 0.25em;
    color: #7da237;
    background-color: #ffffff;
    text-transform: uppercase;
    font-family: "Bebas Neue", "Source Sans Pro", sans-serif;
    letter-spacing: 0.025em;
    font-weight: normal;
    text-decoration: none;
}

/* ----- tag sizes ----- */

@media (min-width: 700px) {
    
    .tag__wrap.large,
    .tag.large {
        font-size: 1.25em;
    }

    .tag__wrap.x-large,
    .tag.x-large {
        font-size: 1.5em;
    }

}

/* ----- cliquable tag ----- */

a.tag { color: #ffffff; }

a.tag:link { background-color: #579ea5; }
a.tag:hover, a.tag:focus { background-color: #42767a; }
a.tag:active { background-color: #0098a6; }

/* ----- special tags ----- */

.tag_nouveau {
    font-size: 1em;
}

.tag_icon {
    display: block;
    margin: 0.125em;
    padding: 0.125em;
    font-size: 2em;
    color: #fff;
    text-shadow: 0 0 20px rgba(1, 50, 73, 0.5);
    background-color: transparent;
}

.tag_icon:first-child { margin-left: 0.5em; }
.tag_icon:last-child { margin-right: 0.5em; }

/* ----- tag's themes ----- */

.tag.info {
    color: #ffffff;
    background-color: #579ea5;
}

.tag.success {
    color: #ffffff;
    background-color: #7da237;
}

.tag.warning {
    color: #ffffff;
    background-color: #db9500;
}

.tag.danger {
    color: #ffffff;
    background-color: #a41515;
}

/* ----- button icon in tag ----- */

.tag > .button_icon {
    margin-left: 0.25em;
}

/*
-----------------------------
box
*/

.box {
    padding: 1.5em;
}

.box > *:first-child {
    margin-top: 0;
}

.box > *:last-child {
    margin-bottom: 0;
}

.box.base {
    background-color: rgba(0, 0, 0, 0.05);
}

.box.info {
    color: #ffffff;
    background-color: #579ea5;
}

.box.success {
    color: #ffffff;
    background-color: #7da237;
}

.box.warning {
    color: #ffffff;
    background-color: #db9500;
}

.box.danger {
    color: #ffffff;
    background-color: #a41515;
}


/*
-----------------------------
Breadcrumbs
*/

.breadcrumb {
    padding: 1em 0;
    font-size: 0.875em;
    flex-wrap: wrap;
}

.breadcrumb__item {
    display: flex;
    text-align: left;
    margin: 0 !important;
}

.breadcrumb__item:not(:first-child):before {
    content: ">";
    margin: 0 0.5em;
    color: #579ea5;
}

.breadcrumb__link {
    display: inline-block;
    padding: 0 0.2em;
}

a.breadcrumb__link:link,
a.breadcrumb__link:visited {
    text-decoration: none;
    color: #579ea5;
}

a.breadcrumb__link:hover,
a.breadcrumb__link:focus {
    text-decoration: underline;
    color: #579ea5;
    background-color: transparent;
}

a.breadcrumb__link:active {
    text-decoration: underline;
    color: #579ea5;
    background-color: transparent;
}

@media (max-width: 799px) {

    .breadcrumb__item:first-child {
        display: none;
    }

}

/*
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
Macro-component
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
*/

/*
-----------------------------
PAGE-HEADER
*/

.page-header {
    padding: 0;
}

.page-header__container {
    text-align: center;
}

.page__intro {
    text-align: center;
}

@media (min-width: 800px) {

    .page-header__container {
        padding-top: 0;
    }

    .page__intro {
        font-size: 1.5em;
    }

}


@media (max-width: 799px) {

    .page-header__container {
        padding-top: 1em;
        padding-bottom: 3em;
    }

    .section__container.page-header__container {
        padding-top: 1em;
    }

    .hero_header-site > .page-header__container {
        padding-top: 0;
        padding-bottom: 0;
    }

    main.tpl_main-nav .page-header__container {
        border-left: solid 2.5em #a41515;
    }

    .page-header__container [class*="chimney"] {
        margin: 0 2em;
        width: calc(100% - 4em);
    }

    .page__intro {
        font-size: 1.25em;
    }

}

/* ----- page title ----- */

.page__title {
    text-align: center;
}

.page__title:first-child {
    margin-top: 0.75em !important;
}

@media (min-width: 600px) {
    .page__title {
        font-size: 4em;
    }
}

@media (max-width: 599px) {
    .page__title { font-size: 2.5em; }
}

/* ----- page subtitle ----- */

.page__subtitle {
    color: #567e36 !important;
    margin-bottom: 1em;
}

@media (min-width: 600px) { 
    .page__subtitle {
        margin-top: -1.5em;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
        box-sizing: border-box;
    }
}

@media (max-width: 599px) {
    .page__subtitle { margin-top: -0.75em; }
}

/* ----- page surtitle ----- */

.page__surtitle {
    margin-top: 2em;
    margin-bottom: -2em;
}


/*
-----------------------------
FOOTER
*/

.footer-site__wrap {
    font-size: 0.875em;
}

.footer-site__title,
.footer-site__content > *,
.footer-site__content > * > a {
    color: #ffffff;
}

@media (min-width: 700px) {
    .footer-site__title {
        min-height: 2.5em;
    }
}

.footer-site__content.list_simple > li > a {
    text-decoration: none;
}

/*
-----------------------------
ACCORDEON
*/

.accordeon__item {
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
}

.accordeon__button.button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    border-width: 2px;
}

.accordeon__title {
    margin: 0;
    font-size: 1.5em;
    text-align: left;
    line-height: 1em;
}

.accordeon__button > .button__icon {
    transition: all 0.2s ease-in-out;
}

.accordeon__content {
    background-color: #f5f5f5;
    padding: 2em;
    transition: all 0.2 ease-in-out;
}

.is-expanded > .accordeon__button > .button__icon {
    transform: rotate(180deg);
}

.is-shrinked > .accordeon__content {
    height: 0;
    padding-top: 1px;
    padding-bottom: 1px;
    opacity: 0;
}

.is-shrinked > .button.accordeon__button {
    color: #579ea5;
    background-color: #ffffff;
}

/*
-----------------------------
TABS
*/

.tabs__wrap {
    position: relative;
    margin-top: 1em;
    margin-bottom: 1em;
}

.tabs__nav {
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    bottom: 100%;
    padding: 0;
}

.tab__item {
    position: relative;
    bottom: 100%;
    margin: 0 !important;
}

.tab__link {
    display: block;
    text-decoration: none;
    padding: 1em;
    border-bottom: 0.25em rgba(87, 158, 165, 0.3) solid;
}

.tab__link.is-active {
    font-weight: bold;
    border-bottom-color: #579ea5;
}

.tabs__content {
    border: 1px #579ea5 solid;
}


@media (min-width: 1200px) {

    .tabs__wrap {
        margin-left: -3em;
        margin-right: -3em;
    }

    .tabs__content {
        padding: 3em;
    }
    
}

@media (max-width: 1199px) {

    .tabs__wrap {
        margin-left: -1.5em;
        margin-right: -1.5em;
    }

    .tabs__content {
        padding: 1.5em;
    }
}

@media (min-width: 500px) {

    .tab__item {
        padding: 0;
    }

}

@media (max-width: 499px) {

    .tabs__nav {
        flex-wrap: wrap;
        padding: 1em;
    }

    .tab__item {
        padding: 0 0.5em;
    }

}

/*
-----------------------------
TEMP BUBBLE
*/

/* ----- temp bubble generalities ----- */

.temp-bubble__wrap { position: relative; }

.temp-bubble { display: none; }
.temp-bubble.is-visible { display: block; }

.temp-bubble {
    position: absolute;
    top: calc(100% + 0.75em);
    width: 100%;
    padding: 0;
    z-index: 5;
}

.temp-bubble.mobile { width: 320px; }

/* bubble form */

.temp-bubble:before {
    content: "";
    position: absolute;
    width: 1em;
    height: 1em;
    left: 50%;
    transform: rotate(45deg);
    top: -0.25em;
    z-index: 0;
    background-color: #7da237;
}


.temp-bubble__container {
    position: relative;
    border-radius: 0.25em;
    overflow: hidden;
    border: solid 2px #7da237;
    background-color: #ffffff;
    z-index: 2;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.25);
}

/* bubble positioning */

.temp-bubble.left { right: -2em; }
.temp-bubble.right { left: -2em; }

.temp-bubble.left:before { left: calc(100% - 3.5em); }
.temp-bubble.right:before { left: 2.5em; }

/* ----- temp bubble scrollable ----- */

.temp-bubble__scrollable__wrap {
    position: relative;
}

.temp-bubble__scrollable {
    height: 50vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.temp-bubble__scrollable__wrap:before,
.temp-bubble__scrollable__wrap:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1em;
    left: 0;
    z-index: 2;
}

.temp-bubble__scrollable__wrap:before {
    top: 0;
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.temp-bubble__scrollable__wrap:after {
    bottom: 0;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

.temp-bubble__container.bg-green_light .temp-bubble__scrollable__wrap:before {
    background: linear-gradient(rgba(125, 162, 55, 1), rgba(125, 162, 55, 0));
}

.temp-bubble__container.bg-green_light .temp-bubble__scrollable__wrap:after {
    background: linear-gradient(rgba(125, 162, 55, 0), rgba(125, 162, 55, 1));
}

/* ----- temp bubble content ----- */

.temp-bubble__title {
    padding: 0.75em 0.5em 0.5em;
    font-size: 1.5em;
    line-height: 1em;
    margin: 0;
}

.temp-bubble__container.bg-green_light .temp-bubble__title {
    color: #ffffff;
}

/*
-----------------------------
CAROUSEL
*/

.carousel__wrap {
    position: relative;
    margin-top: 2em;
    margin-bottom: 2em;
}

.carousel {
    position: relative;
    overflow: hidden;
}

.carousel:before,
.carousel:after {
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 2;
}

.carousel:before {
    left: 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1),rgba(255, 255, 255, 0));
}

.carousel:after {
    right: 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0),rgba(255, 255, 255, 1));
}

.carousel__content {
    position: relative;
    list-style: none;
    padding-left: 0;
    display: flex;
    width: 210%;
    left: 15%;
    margin: 0;
}

.carousel__item {
    width: calc(100% / 3);
    box-sizing: border-box;
}

.caroussel__nav__arrows {
    list-style: none;
    padding: 0;
    margin: 0;
}

.caroussel__nav__arrow {
    position: absolute;
    top: calc(50% - 1em);
    z-index: 2;
}

.caroussel__nav__previous { left: 0.25em; }
.caroussel__nav__next { right: 0.25em; }

.carousel__nav__dots {
    justify-content: center;
}

.carousel__nav__dot {
    transition: all 0.2s ease-in-out;
}

.carousel__nav__dot:not(.is-active) { opacity: 0.3; }
.carousel__nav__dot:not(.is-active):hover,
.carousel__nav__dot:not(.is-active):focus { opacity: 0.5; }
.carousel__nav__dot:not(.is-active):active { opacity: 0.8; }

@media (min-width: 800px) {
    
    .carousel:before,
    .carousel:after {
        width: 8em;
    }

    .carousel__item {
        padding: 0 2em;
    }

}

@media (max-width: 799px) {

    .carousel:before,
    .carousel:after {
        width: 4em;
    }

    .carousel__item {
        padding: 0 1em;
    }

}

@media (min-width: 700px) {

    .carousel__wrap {
        margin-left:  0;
        margin-right:  0;
    }

    .carousel {
        margin: 0 5em;
    }

    .carousel:before,
    .carousel:after {
        width: 8em;
    }

}

@media (max-width: 699px) {

    .carousel__wrap {
        margin-left: -3em;
        margin-right: -3em;
        overflow: hidden;
    }

    .carousel {
        font-size: 0.75em;
    }

}


/*
-----------------------------
HERO
*/

.hero {
    position: relative;
    padding: 0;
    background-color: #db9500;
}

@media (min-width: 800px) {
    .hero {
        font-size: 1.5em;
        min-height: 20em;
    }
}

@media (max-width: 799px) {
    .hero {
        min-height: 12.5em;
    }
}

/* ----- hero vignette----- */

.hero .vignette__wrap {
    position: absolute;
    height: 100%;
    z-index: 0;
}

@media (min-width: 800px) {

    .hero .vignette__image {
        width: 170%;
        margin-left: -35%;
    }

    /* hero_v (cf. page connexion) */
    .hero_v .vignette__image {
        width: 120%;
        margin-left: -10%;
        margin-top: -5%;
    }

}

@media (max-width: 799px) {

    .hero .vignette__image {
        width: 240%;
        margin-left: -80%;
    }

}

/* ----- hero container ----- */

.hero__container {
    position: relative;
    z-index: 3;
    padding-top: 5em;
}

@media (min-width: 800px) {

    .hero__container {
        position: relative;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

}

/*
-----------------------------
FORM ID
*/

.form_id__wrap {
    width: 20em;
    margin-left: auto;
    margin-right: auto;
}

/*
-----------------------------
HERO HEADER-SITE
*/

.hero_header-site__chimney {
    position: relative;
}

.hero_header-site__container,
.hero_header-site__content {
    display: flex;
    flex-direction: column;
}

.is-expanded .hero_header-site__content {
    text-align: center;
    align-items: center;
}

.hero_header-site__logo {
    width: 11em;
}

.hero_header-site__logo > img {
    width: 100%;
}

.hero_header-site__title {
    margin: 0;
    font-family: "Bebas Neue", "Source Sans Pro", sans-serif;
    letter-spacing: 0.025em;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1em;
    color: #ffffff;
}

.hero_header-site__baseline {
    margin: 0.25em 0;
    font-family: 'Kalam', cursive;
    letter-spacing: 0.025em;
    line-height: 1.125em;
    font-weight: normal;
    color: #ffffff;
}

.hero_header-site.is-shrinked .hero_header-site__baseline {
    font-size: 1em;   
}

.hero_header-site.is-shrinked .hero_header-site__argument {
    display: none;
}

.hero_header-site__form_search {
    width: 100%;
    max-width: 35em;
}

@media (min-width: 1200px) {
    .hero_header-site__chimney {
        max-width: 85%;
    }

    .is-expanded .hero_header-site__title {
        font-size: 5em;
    }

    .is-expanded .hero_header-site__baseline {
        font-size: 2em;
    }

    .is-expanded .hero_header-site__form_search {
        font-size: calc(0.011 * 100vw);
    }
}

@media (min-width: 800px) {

    .hero_header-site.is-shrinked .hero_header-site__vignette__wrap > .vignette__image {
        width: 120%;
        margin-left: -10%;
        margin-top: -5%;
    }

}

@media (min-width: 800px)  and (max-width: 1199px) {

    .is-expanded .hero_header-site__title {
        font-size: calc(0.09 * 100vw);
    }

    .is-expanded .hero_header-site__baseline {
        font-size: calc(0.035 * 100vw);
    }

    .is-expanded .hero_header-site__form_search {
        font-size: calc(0.016 * 100vw);
    }
    

}

@media (min-width: 900px) {

    .is-shrinked .hero_header-site__content {
        width: 50%;
        margin-right: 1em;
    }

    .is-shrinked .hero_header-site__form_search {
        width: 50%;
    }

}

@media (min-width: 800px) {

    .hero_header-site {
        min-height: initial;
    }

    .hero_header-site__logo {
        display: none;
    }

    .is-expanded .hero_header-site__container {
        padding-top: 6em !important;
        padding-bottom: 6em !important;
    }

    .is-expanded .hero_header-site__form_search {
        margin: 0.5em 0;
    }

    .is-shrinked .hero_header-site__container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 1em !important;
        padding-bottom: 1em !important;
    }

    .is-shrinked .hero_header-site__content {
        text-align: left;
    }

    .is-shrinked .hero_header-site__title {
        font-size: 2em;
    }

    .is-shrinked .hero_header-site__form_search {
        font-size: 0.75em;
        margin: 0;
    }

}

@media (max-width: 799px) {

    .hero_header-site.is-shrinked {
        display: none;
    }   

}

@media (min-width: 500px) and (max-width: 799px) {
    .is-expanded .hero_header-site__title {
        font-size: calc(0.1 * 100vw);
    }

    .is-expanded .hero_header-site__baseline {
        font-size: calc(0.035 * 100vw);
    }
}

@media (min-width: 500px) {

    .is-expanded .hero_header-site__form_search {
        margin-left: auto !important;
        margin-right: auto !important;
    }

}

@media (max-width: 499px) {
    .hero_header-site__vignette__wrap > .vignette__image {
        position: absolute;
        min-height: 100%;
        min-width: 100%;
        width: auto !important;
        left: -75%;
    }

    .hero_header-site__title {
        font-size: calc(0.15 * 100vw);
    }

    .hero_header-site__baseline {
        font-size: calc(0.07 * 100vw);
    }

    .hero_header-site__form_search {
        margin-left: -3em;
        margin-right: 0;
        width: calc(100% + 3em);
    }
}

/*
-----------------------------
CTA
*/

.CTA__wrap {
    text-align: center;
    overflow: hidden;
}

.CTA__container {
    max-width: 600px;
    margin: auto;
}

.CTA__title {
    text-align: center;
    font-size: 2.5em;
    margin: 0.5rem 0;
}

.CTA__subtitle {
    font-size: 1.5em;
    margin: 1rem 0;
}

.CTA__content {
    margin: 0.5rem 0 1rem;
    padding: 1px 0;
}

.CTA__content:first-child { margin-top: 0; }
.CTA__content:last-child { margin-bottom: 0; }

/* CTA thème 01 */

.CTA_theme-01 {
    background-color: #eae6cf;
}

.CTA_theme-01:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.2;
    transition: all 0.2s ease-in-out;
    background: url("./../img/motif_champ_white.png") repeat;
    opacity: 0.6;
}

.CTA_theme-01 > * {
    position: relative;
    z-index: 2;
}

/* CTA thème 02 */

.CTA_theme-02 {
    background-color: #579ea5;
    color: #ffffff;
}

.CTA_theme-02 .form-label { color: #ffffff; }
.CTA_theme-02 .button_basic.primary {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: transparent;
}

/*
-----------------------------
CTA rapport
*/

@media (min-width: 800px) {
    .CTA_rapport__container {
        text-align: left;
    }
}

@media (max-width: 799px) {
    .CTA_rapport__container {
        text-align: center;
    }
}

/*
-----------------------------
CTA soutien
*/

.CTA_soutien {
    font-size: 1em !important;
    background-color: #7da237;
}

.CTA_soutien__container {
    position: relative;
    z-index: 3;
    text-align: left;
}

.CTA_soutien__title,
.CTA_soutien__subtitle {
    text-align: left;
}

.CTA_soutien__buttons {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 0.8em;
}

@media (min-width: 800px) {
    .CTA_soutien__container {
        width: 50% !important;
        left: 50%;
    }
}

@media (min-width: 600px) and (max-width: 799px) {
    .CTA_soutien__container {
        width: 60% !important;
        left: 35%;
    }  
}

@media (max-width: 799px) {
    .CTA_soutien__container {
        margin-top: -2em;
    }  
}


/*
-----------------------------
Mixins text
*/

.text_little {
    display:inline-block;
    font-size: 0.75em;
}

.text_little_inline {
    font-size: 0.75em;
}

.text_center {
    text-align: center;
}

@media (min-width: 800px) {

    .text_left {
        text-align: left;
    }

}


.text_color {
    color: #7da237;
}

.text_white {
    color: #ffffff;
}

.text_on-photo {
    text-shadow: 0 0 4em #311102,1px 1px 2em #311102,1px 1px 1em #311102,-1px -1px 1px rgba(0,0,0,0.5),1px 1px 1px rgba(0,0,0,0.5);
    position: relative;
    z-index: 3;
}

.text_on-photo,
.text_on-photo > *{
    color: #ffffff !important;
}

/*
-----------------------------
Mixins block
*/

/* ----- block padding ----- */

.block_padding {
    padding: 2em;
    box-sizing: border-box;
}

.block_padding > *:first-child {
    margin-top: 0;
}

.block_padding > *:last-child {
    margin-bottom: 0;
}

/* ----- block no border ----- */

.block_no-border {
    border: none;
}

/* ----- block margin ----- */

.block_no-margin {
    margin: 0;
}

@media (min-width: 800px) {

    .block_margin-big-screens_right {
        padding-right: 10% !important;
    }

    .block_margin-big-screens_left {
        padding-left: 10% !important;
    }

}

/* ----- block position relative ----- */

.block_pos-relative {
    position: relative;
}

/* ----- block columns ----- */

@media (min-width: 800px) {

    [class*="block_columns"] {
        column-gap : 4rem;
        margin: 3em 0 4em;
    }

    .block_columns { columns: 2; }

    .block_columns_3 { columns: 3; }

    .block_columns:first-child {
        margin-top: 0;
    }

    .block_columns:last-child {
        margin-bottom: 0;
    }

    .block_columns > *:first-child {
        margin-top: 0;
    }

}

/* ----- block positionnement vertical ----- */
/* à placer autour de ce qu'on veux placer verticalement */

[class*="block_v"] {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.block_v-center {
    justify-content: center;
}

.block_v-bottom {
    justify-content: flex-end;
}

/* ----- block avec trame ----- */
/* rayure ou champ, noir ou blanc */

.block_trame > * {
    position: relative;
    z-index: 2;
}

.block_trame::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.2;
    transition: all 0.2s ease-in-out;
}

.block_trame_rayure.white::before {
    background: url("./../img/motif_rayure_white.png") repeat;
    opacity: 0.25;
}

.block_trame_rayure.black::before{
    background: url("./../img/motif_rayure_black.png") repeat;
    opacity: 0.15;
}

.block_trame_champ.white::before {
    background: url("./../img/motif_champ_white.png") repeat;
    opacity: 1;
}

.block_trame_champ.black::before{
    background: url("./../img/motif_champ_black.png") repeat;
    opacity: 0.15;
}
