/*
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
Layout
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
*/






.aside__panel {
    box-sizing: border-box;
    color: #ffffff;
    background-color: #579ea5;
}

.aside__section-header {
    margin: 0;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aside__section-header > * {
    margin: 0;
}

.aside__header {
    font-size: 1.25em;
    background-color: #42767a;
    padding-top: 1em;
    padding-bottom: 1em;
}

.aside__content {
    padding: 0 1em 1em;
    margin: 0;
}

.aside__content > *:last-child {
    margin-bottom: 0;
}

.filters__wrap.form__wrap {
    margin-top: 0;
}