.button {
    background-color: cornflowerblue;
}

/*
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
Généralités
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
*/

/*
-----------------------------
BUTTON-WRAP
*/

.button__wrap {
    margin: 1em 0;
}

@media (min-width: 700px) {

    .button__wrap:first-child {
        margin-top: 0;
    }

    .button__wrap:last-child {
        margin-bottom: 0;
    }

}

/*
-----------------------------
BUTTON
*/

.button {
    display: inline-block;
    box-sizing: border-box;


    font-size: 1.25em;
    text-align: center;
    text-decoration: none;
    line-height: 1.125em;
    font-family: "Bebas Neue", "Source Sans Pro", sans-serif;
    letter-spacing: 0.05em;

    transition: all 0.2s;
}

.button_s {
    font-size: 1em !important;
}

.button_xs {
    font-size: 0.75em !important;
}

.button__icon {
    transition: all 0.2s;
}

.button__label {
    font-size: 1.25em;
}

.button.secundary {
    border-width: 0.1em;
}

/*
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
Button basic
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
*/

.button_basic {
    padding: 0.75em 1.25em;

    border-style: solid;
    border-width: 0.2em;
}

/*
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
Button icon
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
*/

.button_icon {
    background-color: transparent !important;
    padding: 0.5em;
}

/*
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
Button round
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
*/

.button_round {
    font-size: 1.5em;
    background-color: transparent !important;
    padding: 0;
    border: none !important;
    font-family: "Source Sans Pro", sans-serif;
}

.button_round > .button__icon {
    display: block;
    position: relative;
    box-sizing: border-box;

    width: 2em;
    height: 2em;
    border-radius: 50%;

    border-style: solid;
    border-width: 2px;
}

.button_round > .button__icon > i {
    position: absolute;
    top: calc(50% - 0.5em);
    left: calc(50% - 0.5em);
    width: 1em;
    transition: all 0.2s;
}

.button_round > .button__label {
    font-size: 0.75em;
    letter-spacing: 0;
    line-height: 1em;
}

/*
-----------------------------
BUTTON READ MORE
*/

.button_read-more {
    color: #ffffff !important;
    display: block;
}

.button__wrap > .button_read-more {
    top: -0.75em;
}

a:hover .button_read-more > .button__icon > i,
a:focus .button_read-more > .button__icon > i {
    transform: rotate(45deg);
}

/*
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
Style
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
*/

/*
-----------------------------
PRIMARY
*/

.button.primary.button_basic,
.button.primary.button_round > .button__icon {
    color: white;
    background-color: #579ea5;
    border-color: #579ea5;
}

.button.primary.button_icon {
    color: #579ea5;
}

.button.primary.button_basic:hover,
.button.primary.button_basic:focus,
.button.primary.button_round:hover > .button__icon,
.button.primary.button_round:focus > .button__icon {
    background-color: #42767a;
    border-color: #42767a;
}

.button.primary:active,
.button.primary.button_round:active > .button__icon {
    background-color: #0098a6;
    border-color: #0098a6;
}

/*
-----------------------------
SECUNDARY
*/

.button.secundary.button_basic,
.button.secundary.button_round > .button__icon {
    color: #42767a;
    background-color: #ffffff;  
    border-color: #579ea5;
}

.button.secundary.button_basic:hover,
.button.secundary.button_basic:focus,
.button.secundary.button_round:hover > .button__icon,
.button.secundary.button_round:focus > .button__icon {
    color: #ffffff;
    border-color: #579ea5;
    background-color: #579ea5;
}

.button.secundary.button_basic:active,
.button.secundary.button_round:active > .button__icon {
    color: #ffffff;
    background-color: #0098a6;
    border-color: #0098a6;
}

/*
-----------------------------
READ MORE
*/

.button_read-more > .button__icon {
    background-color: #c99318 !important;
    border-color: #c99318 !important;
}
a:active .button_read-more > .button__icon {
    background-color: #a41515 !important;
    border-color: #a41515 !important;
}

/*
-----------------------------
INFO bleu
*/

/*
-----------------------------
SUCCESS vert
*/

.button.success.button_basic,
.button.success.button_round > .button__icon {
    color: #ffffff;
    background-color: #7da237;  
    border-color: #7da237;
}

.button.success.button_basic:hover,
.button.success.button_basic:focus,
.button.success.button_round:hover > .button__icon,
.button.success.button_round:focus > .button__icon {
    color: #ffffff;
    border-color: #567e36;
    background-color: #567e36;
}

.button.success.button_basic:active,
.button.success.button_round:active > .button__icon {
    color: #ffffff;
    background-color: #466b32;
    border-color: #466b32;
}

/*
-----------------------------
WARNING jaune
*/

/*
-----------------------------
DANGER rouge
*/

.button.danger.button_basic,
.button.danger.button_round > .button__icon {
    color: #ffffff;
    background-color: #a41515;  
    border-color: #a41515;
}

.button.danger.button_basic:hover,
.button.danger.button_basic:focus,
.button.danger.button_round:hover > .button__icon,
.button.danger.button_round:focus > .button__icon {
    color: #ffffff;
    border-color: #85170f;
    background-color: #85170f;
}

.button.danger.button_basic:active,
.button.danger.button_round:active > .button__icon {
    color: #ffffff;
    background-color: #75160c;
    border-color: #75160c;
}