/*
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
Global settings
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
*/

a.tuile__link {
    background-color: transparent;
    cursor: pointer;
    width: 100%;
}

.tuile__link {
    flex-direction: column;
}

/*
-----------------------------
Tuile content
*/

.tuile__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em 0 0;
}

.tuile__content:before {
    bottom: 100%;
    left: 1em;
    margin-bottom: -0.5em;
}

.tuile__content.large {
    font-size: 1.25em;
}

/*
-----------------------------
Tuile contents
*/

.tuile__content > * {
    color: #85170f !important;
}


/* ----- tuile pre-title ----- */

.tuile__pre-title {
    flex-direction: row-reverse;
    justify-content: space-between;
    display: flex;
    margin: 0 0 0.5em;
    text-align: right;
}

@media (max-width: 699px) {
    .tuile__pre-title {
        flex-wrap: wrap;
    }
}

.tuile__date {
    color: #db9500;
    font-size: 1rem;
}

@media (max-width: 699px) {
    .tuile__date {
        width: 100%;
    }
}

/* ----- tuile titre ----- */

.tuile__title {
    margin-top: 0;
}

h4.tuile__title {
    margin-bottom: 0.5em;
}

@media (max-width: 799px) {
    h4.tuile__title {
        text-align: left;
    }
}

p.tuile__title {
    margin-bottom: 0em;
    font-size: 1.25em;
    line-height: 1.25em;
    font-weight: bold;
}

/* ----- tuile intro ----- */

.tuile__intro > * {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.875em;
    color: #85170f !important;
}



/*
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
Tuile image
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
*/

@media (min-width: 800px) {

    .tuile_media {
        position: relative;
    }

    /* ----- tuile media container ----- */

    .tuile_media__container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding: 2em;
        box-sizing: border-box;
        z-index: 3;
    }

    /* ----- tuile media link ----- */

    .tuile_media > .tuile__link {
        display: block;
        padding: 0;
        box-sizing: border-box;
    }

    .tuile_media > .tuile__link:hover .vignette__image {
        width: 104%;
        margin-left: -2%;
        margin-top: -2%;
        transform-origin: center center;
        transform: rotate(1deg);
    }

    /* ----- tuile media content ----- */ 

    .tuile_media__content {
        position: relative;
        display: block;
        max-width: 25em;
        padding: 1.5em 2em 1.75em;
        margin: 0 auto;
        box-sizing: border-box;
        transition: all 0.2s;
    }

    .tuile_media__content_fluid {
        max-width: none !important;
    }

    .tuile__link.tuile_media__content,
    .tuile__link.tuile_media__content:visited,
    .tuile__link .tuile_media__content,
    .tuile__link:visited .tuile_media__content {
        background-color: rgba(255, 255, 255, 0.9) !important;
    }

    .tuile__link.tuile_media__content:hover,
    .tuile__link.tuile_media__content:focus,
    .tuile__link:hover .tuile_media__content,
    .tuile__link:focus .tuile_media__content {
        background-color: rgba(255, 255, 255, 1) !important;
    }

    .tuile__link.tuile_media__content:active,
    .tuile__link:active .tuile_media__content {
        background-color: rgba(255, 255, 255, 1) !important;
    }

    .tuile_media__content > .button__wrap {
        position: absolute;
        bottom: -0.75em;
        left: calc(50% - 0.75em);
    }
}

/*
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
Tuile hero
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
*/

/* ----- tuile hero link ----- */

.tuile__hero > .tuile__link {
    position: relative;
    display: block;
    max-width: 25em;
    padding: 1.5em 2em 1.75em;
    margin: 0 auto;
    box-sizing: border-box;
    transition: all 0.2s;
    background-color: rgba(255, 255, 255, 0.9);
}

.tuile__hero > .tuile__link:hover,
.tuile__hero > .tuile__link:focus {
    background-color: rgba(255, 255, 255, 1);
}

.tuile__hero > .tuile__link:active {
    background-color: rgba(255, 255, 255, 1);
}

/* ----- tuile hero read more ----- */

.tuile__hero > .tuile__link > .button_read-more {
    position: absolute;
    bottom: -0.75em;
    left: calc(50% - 0.75em);
}

/*
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
Tuile text-media
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
*/

.tuile_text-media {
    position: relative;
    transition: background-color 0.2s ease-in-out;
}


/*
-----------------------------
Tuile text-media tuile__link
*/

.tuile_text-media > .tuile__link {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    padding: 0;
    box-sizing: border-box;
}


.tuile_text-media__content {
    position: relative;
}

/*
-----------------------------
Tuile text-media fleche vers la vignette
*/


.tuile_text-media__content::before {
    content: "";
    display: block;
    position: absolute;
    width: 1em;
    height: 1em;
    transform: rotate(45deg);
    font-size: 1.5em;
    background-color: #ffffff;
    z-index: 2;
    transition: background-color 0.2s ease-in-out;
}

.bg-pearl .tuile_text-media__content:before {
    background-color: #f5f5f5;
}

.tuile_text-media:hover,
.tuile_text-media:hover > .tuile__link > .tuile_text-media__content:before {
    background-color: #f5f5f5;
    transition: background-color 0.2s ease-in-out;
}

.bg-pearl .tuile_text-media:hover,
.bg-pearl .tuile_text-media:hover > .tuile__link > .tuile_text-media__content:before {
    background-color: #ffffff;
}

/*
-----------------------------
Tuile text-media horizontale
*/

@media (min-width: 700px) {

    .tuile_text-media_h {
        border-bottom: 0.25em solid #db9500;
        padding: 0 !important;
        margin: 0.5em !important;
    }

    .tuile_text-media_h > .tuile__link {
        flex-direction: row;
    }

    .tuile_text-media_h > .tuile__link > .vignette__wrap {
        max-width: 40%;
    }

    .tuile_text-media_h > .tuile__link > .tuile_text-media__content {
        padding: 0 1em;
        flex-grow: 1;
    }

    .tuile_text-media_h > .tuile__link > .tuile_text-media__content:before {
        top: 1em ;
        right: 100%;
        margin-right: -0.5em;
        left: initial;
        bottom: initial;
    }

    .list > .tuile_text-media_h {
        margin-top: 0;
        margin-bottom: 0;
        padding: 0.5em;
    }
}

/*
-----------------------------
Tuile text-media horizontale
*/

@media (min-width: 700px) {
    .list > .tuile_text-media_v {
        margin: 1em 0;
        padding: 0.5em 0.5em 1em;
    }
}

/*
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
Tuile icon-label
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
*/

.tuile_icon-label {
    font-size: 1em !important;
}

.tuile_icon-label > a.tuile__link {
    position: relative;
    box-sizing: border-box;
    height: 100%;
    display: flex !important;
    align-items: center;
    padding: 0.5em;
    transition: 0.1s ease-in-out;
}

.tuile_icon-label > .tuile__link:hover,
.tuile_icon-label > .tuile__link:focus {
    background-color: rgba(255, 255, 255, 0.9);
}

.tuile_icon-label > .tuile__link:active {
    background-color: rgba(255, 255, 255, 1);
}

.tuile_icon-label__icon {
    position: relative;
    width: 4em;
    min-width: 4em;
    height: 4em;
    color: #567e36;
}

.tuile_icon-label__icon > img {
    width: 100%;
    height: auto;
}

.tuile_icon-label__icon > i {
    font-size: 2em;
    width: 100%;
    text-align: center;
    position: relative;
    top: 0.5em;
}

.tuile_icon-label__label {
    text-align: left;
    margin-left: 0.5em;
}

.tuile_icon-label__label__title {
    font-family: "Bebas Neue", "Source Sans Pro", sans-serif;
    font-size: 1.5em;
    margin: 0;
}

.tuile_icon-label__label__description {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1em;
    line-height: 1em;
    text-transform: none;
    margin: 0;
}