/*
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
Global settings
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
*/

a.tuile__link {
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
}

.tuile__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tuile__content > *,
.tuile__content > .tuile__intro > * {
    color: #85170f !important;
}

.tuile__title {
    margin-top: 0;
}

h4.tuile__title {
    margin-bottom: 0.5em;
}

p.tuile__title {
    margin-bottom: 0em;
    font-size: 1.25em;
    line-height: 1.25em;
    font-weight: bold;
}

.tuile__intro > * {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.875em;
}


/*
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
Tuile image
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
*/

.tuile_media {
    position: relative;
}

.tuile_media__container {
    z-index: 3;
}

.tuile_media__content_fluid {
    max-width: none !important;
}

.tuile_media > .tuile__link:hover .vignette__image,
.tuile_media > .tuile__link.vignette__image,
.tuile_media > .tuile__link.vignette__image {
    width: 104%;
    margin-left: -2%;
    margin-top: -2%;
    transform-origin: center center;
    transform: rotate(1deg);
}

@media (min-width: 700px) {

    .tuile_media__container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding: 2em;
        box-sizing: border-box;
    }

    .tuile_media__content {
        position: relative;
        display: block;
        max-width: 25em;
        padding: 1.5em 2em 1.75em;
        margin: 0 auto;
        box-sizing: border-box;
        transition: all 0.2s;
    }

    .tuile__link.tuile_media__content,
    .tuile__link.tuile_media__content:visited,
    .tuile__link .tuile_media__content,
    .tuile__link:visited .tuile_media__content {
        background-color: rgba(255, 255, 255, 0.9) !important;
    }

    .tuile__link.tuile_media__content:hover,
    .tuile__link.tuile_media__content:focus,
    .tuile__link:hover .tuile_media__content,
    .tuile__link:focus .tuile_media__content {
        background-color: rgba(255, 255, 255, 1) !important;
    }

    .tuile__link.tuile_media__content:active,
    .tuile__link:active .tuile_media__content {
        background-color: rgba(255, 255, 255, 1) !important;
    }

    .tuile_media__content > .button__wrap {
        position: absolute;
        bottom: -0.75em;
        left: calc(50% - 0.75em);
    }
}

@media (max-width: 699px) {

    .tuile_media__content {
        position: relative;
        padding: 1em 0 0;
    }

    .tuile_media__content:before {
        content: "";
        display: block;
        position: absolute;
        width: 1em;
        height: 1em;
        transform: rotate(45deg);
        font-size: 1.5em;
        background-color: #fff;
        z-index: 2;
    }

    .tuile_media__content:before {
        bottom: 100%;
        left: 1em;
        margin-bottom: -0.5em;
    }

}

/*
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
Tuile text-media
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
*/

.tuile_text-media {
    position: relative;
    transition: background-color 0.2s ease-in-out;
}

.tuile_text-media_v__content {
    position: relative;
    padding: 1em 0 0;
}

.tuile_text-media__content:before {
    content: "";
    display: block;
    position: absolute;
    width: 1em;
    height: 1em;
    transform: rotate(45deg);
    font-size: 1.5em;
    background-color: #ffffff;
    z-index: 2;
    transition: background-color 0.2s ease-in-out;
}

.bg-pearl .tuile_text-media__content:before {
    background-color: #f5f5f5;
}

.tuile_text-media:hover,
.tuile_text-media:hover > .tuile__link > .tuile_text-media__content:before {
    background-color: #f5f5f5;
    transition: background-color 0.2s ease-in-out;
}

.bg-pearl .tuile_text-media:hover,
.bg-pearl .tuile_text-media:hover > .tuile__link > .tuile_text-media__content:before {
    background-color: #ffffff;
}


.tuile_text-media_v__content:before {
    bottom: 100%;
    left: 1em;
    margin-bottom: -0.5em;
}

/*
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
Tuile icon-label
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
*/

.tuile_icon-label {
    font-size: 1em !important;
}

.tuile_icon-label > a.tuile__link {
    position: relative;
    box-sizing: border-box;
    height: 100%;
    display: flex !important;
    align-items: center;
    padding: 0.5em;
    transition: 0.1s ease-in-out;
}

.tuile_icon-label > .tuile__link:hover,
.tuile_icon-label > .tuile__link:focus {
    background-color: rgba(255, 255, 255, 0.9);
}

.tuile_icon-label > .tuile__link:active {
    background-color: rgba(255, 255, 255, 1);
}

.tuile_icon-label__icon {
    position: relative;
    width: 4em;
    min-width: 4em;
    height: 4em;
    color: #567e36;
}

.tuile_icon-label__icon > img {
    width: 100%;
    height: auto;
}

.tuile_icon-label__icon > i {
    font-size: 2em;
    width: 100%;
    text-align: center;
    position: relative;
    top: 0.5em;
}

.tuile_icon-label__label {
    text-align: left;
    margin-left: 0.5em;
}

.tuile_icon-label__label__title {
    font-family: "Bebas Neue", "Source Sans Pro", sans-serif;
    font-size: 1.5em;
    margin: 0;
}

.tuile_icon-label__label__description {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1em;
    line-height: 1em;
    text-transform: none;
    margin: 0;
}