.placeholeder-carte {
    display: block;
    width: 100%;
}

/*
-----------------------------
FORM ID
*/

.form_id__wrap {
    width: 20em;
    margin-left: auto;
    margin-right: auto;
}

/*
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
Micro components
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
*/

/*
-----------------------------
fiche
*/

.fiche__header {
    padding-top: 2em;
    padding-bottom: 2em;
}

@media (min-width: 800px) {
    .fiche__header {
        padding-left: 2em;
        padding-right: 2em;
    }
}

.fiche__entry__wrap {
    margin: 1em 0;
}

h6.fiche__entry__title {
    font-family: "Bebas Neue", "Source Sans Pro", sans-serif;
    font-weight: normal;
    font-size: 1.25em;
    margin-bottom: 0;
    text-align: left;
}

h4.fiche__entry__title {
    text-align: center;
}

h4.fiche__entry__title > i {
    display: block;
    margin: 0.5em 0;
}

@media (min-width: 800px) {

    .fiche__miniature__wrap {
        position: absolute;
        width: 100%;
        box-sizing: border-box;
        top: -3em;
        z-index: 2;
    }

    .fiche__video__wrap {
        margin: -2.5em 0 0;
        position: relative;
        z-index: 2;
    }

    .fiche__miniature__wrap  > .vignette_deco {
        position: relative !important;
        width: 100%;
    }
}

@media (max-width: 799px) {
    .fiche__miniature__wrap,
    .fiche__video__wrap {
        padding: 2em 0 0;
    }
}


/*
-----------------------------
download button
*/

.fiche__miniature__download-wrap {
    width: 100%;
    padding: 1em 10%;
    box-sizing: border-box;
    text-align: center;
    z-index: 1;
}

@media (min-width: 800px) {
    .fiche__miniature__download-wrap {
        position: absolute;
        bottom: -3.5em;
    }
}

@media (max-width: 799px) {
    .fiche__miniature__download-wrap {
        position: relative;
        margin-top: -3.5em;
    }
}

/*
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
Macro-component
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
*/

/*
-----------------------------
PAGE-HEADER
*/

.page-header {
    padding: 0;
}

.page-header__container {
    text-align: center;
}

.page__intro {
    text-align: center;
}

@media (min-width: 800px) {

    .page-header__container {
        padding-top: 0;
    }

    .page__intro {
        font-size: 1.5em;
    }

}


@media (max-width: 799px) {

    .page-header__container {
        padding-top: 1em;
        padding-bottom: 3em;
    }

    .section__container.page-header__container {
        padding-top: 1em;
    }

    .hero_header-site > .page-header__container {
        padding-top: 0;
        padding-bottom: 0;
    }

    .page-header__container [class*="chimney"] {
        margin: 0 2em;
        width: calc(100% - 4em);
    }

    .page__intro {
        font-size: 1.25em;
    }

}

/* ----- page title ----- */

.page__title {
    text-align: center;
}

.page__title:first-child {
    margin-top: 0.75em !important;
}

@media (min-width: 600px) {
    .page__title {
        font-size: 4em;
    }
}

@media (max-width: 599px) {
    .page__title { font-size: 2.5em; }
}

/* ----- page subtitle ----- */

.page__subtitle {
    color: #567e36 !important;
    margin-bottom: 1em;
}

@media (min-width: 600px) { 
    .page__subtitle {
        margin-top: -1.5em;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
        box-sizing: border-box;
    }
}

@media (max-width: 599px) {
    .page__subtitle { margin-top: -0.75em; }
}

/* ----- page surtitle ----- */

.page__surtitle {
    margin-top: 2em;
    margin-bottom: -2em;
}





/*
-----------------------------
CTA rapport
*/

@media (min-width: 800px) {
    .CTA_rapport__container {
        text-align: left;
    }
}

@media (max-width: 799px) {
    .CTA_rapport__container {
        text-align: center;
    }
}

/*
-----------------------------
CTA soutien
*/

.CTA_soutien {
    font-size: 1em !important;
    background-color: #7da237;
}

.CTA_soutien__container {
    position: relative;
    z-index: 3;
    text-align: left;
}

.CTA_soutien__title,
.CTA_soutien__subtitle {
    text-align: left;
}

.CTA_soutien__buttons {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 0.8em;
}

@media (min-width: 800px) {
    .CTA_soutien__container {
        width: 50% !important;
        left: 50%;
    }
}

@media (min-width: 600px) and (max-width: 799px) {
    .CTA_soutien__container {
        width: 60% !important;
        left: 35%;
    }  
}

@media (max-width: 799px) {
    .CTA_soutien__container {
        margin-top: -2em;
    }  
}
