/*
-----------------------------
FORM ID
*/

.form_id__wrap {
    width: 20em;
    margin-left: auto;
    margin-right: auto;
}

/*
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
Micro components
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
*/
