/*
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
Burger and Overlay mechanism
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------

Inspired from Pure CSS Hamberger Menu & Overlay by Brad Traversy
https://codepen.io/bradtraversy/pen/vMGBjQ

--- */

@media (min-width: 800px) {
    #main-nav__toggler, #main-nav__hamburger {
        display: none;
    }
}

@media (max-width: 799px) {

    #main-nav__toggler {
        position: fixed;
        top: 0.25em;
        left: 0.25em;
        z-index: 51;
        cursor: pointer;
        width: 50px;
        height: 50px;
        box-sizing: border-box;
        opacity: 0;
        margin: 10px;
    }

    #main-nav__hamburger {
        position: fixed;
        top: 0.25em;
        left: 0.25em;
        z-index: 50;
        width: 60px;
        height: 60px;
        box-sizing: border-box;
        padding: 15px;
        margin: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: #579ea5;
    }

    /* Hamburger Line */
    #main-nav__hamburger__line {
        position: relative;
        flex: none;
        width: 100%;
        height: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.4s ease;
        background: #ffffff;
    }

    /* Hamburger Lines - Top & Bottom */
    #main-nav__hamburger__line::before,
    #main-nav__hamburger__line::after {
        content: '';
        position: absolute;
        z-index: 1;
        top: -10px;
        width: 100%;
        height: 2px;
        background: inherit;
    }

    /* Moves Line Down */
    #main-nav__hamburger__line::after {
        top: 10px;
    }

    /* Toggler Animation */
    #main-nav__toggler:checked + #main-nav__hamburger > #main-nav__hamburger__line {
        transform: rotate(135deg);
    }

    /* Turns Lines Into X */
    #main-nav__toggler:checked + #main-nav__hamburger > #main-nav__hamburger__line:before,
    #main-nav__toggler:checked + #main-nav__hamburger > #main-nav__hamburger__line:after {
        top: 0;
        transform: rotate(90deg);
    }

    /* Rotate On Hover When Checked */
    #main-nav__toggler:checked:hover + #main-nav__hamburger > #main-nav__hamburger__line {
        transform: rotate(225deg);
    }

    /* Show Menu */
    #main-nav__toggler:checked ~ #main-nav__splash__wrap {
        visibility: visible;
    }

    #main-nav__toggler:checked ~ #main-nav__splash__wrap > #main-nav__splash__transform-container {
        transform: scale(1);
        transition-duration: 0.75s;
    }

    #main-nav__toggler:checked ~ #main-nav__splash__wrap > #main-nav__splash__transform-container > #main-nav__splash__container {
        opacity: 1;
        transition:  opacity 0.4s ease 0.4s;
    }

    #main-nav__splash__wrap {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 49;
    }

    #main-nav__splash__transform-container {
        border-radius: 50%;
        width: 200vw;
        height: 200vw;
        padding: 1em;
        display: flex;
        flex: none;
        align-items: center;
        justify-content: center;
        transform: scale(0);
        transition: all 0.4s ease;
        background-color: #a41515;
    }

}

/*
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
Global settings
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
*/

.menu {
    display: flex;
    list-style: none;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 0.875em;
    align-items: center;
}

@media (max-width: 799px) {
    .menu {
        flex-direction: column;
    }
}

/*
-----------------------------
MENU ITEM
*/

.menu__item {
    margin-left: 0;
    margin-right: 0;
}

.menu__item_separator {
    flex-grow: 1;
}

/*
-----------------------------
MENU LINK
*/

.menu__link {
    text-decoration: none;
}

@media (min-width: 800px) {
    .menu__link {
        padding: 0.75em;
    }
}

@media (max-width: 799px) {
    .menu__link {
        padding: 0.5rem;
    }
}

.menu__link:hover,
.menu__link:focus {
    background-color: rgba(0, 0, 0, 0.25);
}

.menu__link:focus {
    background-color: rgba(255, 255, 255, 0.75);
    color: #579ea5;
}

.menu__link_no-click {
    display: inline-block;
    background-color: transparent !important;
}

/*
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
MENUS
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
*/

/*
-----------------------------
TOP BAR LOGO
*/


.top-bar__logo {
    position: relative;
    top: 0;
    left: 0;
    width: 9em;
    box-sizing: border-box;
    padding: 0.5em 0;
    margin-right: 1em;
}

.top-bar__logo > img {
    width: 100%;
}

/*
-----------------------------
MENU CORPORATE
*/

.menu-corporate {
    font-size: 0.75em;
}

@media (min-width: 800px) {
    .menu-corporate > li > .button.secundary {
        background-color: transparent !important;
    }

    .menu-corporate > li > .button.secundary:hover,
    .menu-corporate > li > .button.secundary:focus {
        background-color: #42767a !important;
    }

    .menu-corporate > li > .button.secundary:active {
        background-color: #0098a6 !important;
    }

    .menu-corporate > li {
        margin-left: 0.5em !important;
        margin-right: 0.5em !important;
    }
}

@media (max-width: 799px) {
    .menu-corporate {
        flex-direction: column;
        align-items: flex-end;
    }

    .menu-corporate > li {
        margin-top: 0.5em !important;
        margin-bottom: 0.5em !important;
    }

    .menu-corporate > li > .button.secundary {
        border-color: #ffffff !important;
    }

}

/*
-----------------------------
MENU CONNEXION
*/

.menu-connexion {
    display: flex;
    flex-direction: column;
}

.menu-connexion__welcome {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.menu-connexion__last-connexion {
    font-size: 0.75em;
}

@media (min-width: 800px) {

    .menu-connexion {
        flex-grow: 1;
        align-items: flex-start;
        text-align: left;
    }

    .menu-connexion__welcome {
        align-items: flex-start;
        color: #a41515;
    }
}

@media (max-width: 799px) {

    .menu-connexion {
        align-items: flex-end;
        text-align: right;
    }

    .menu-connexion__welcome {
        align-items: flex-end;
        color: #ffffff;
    }
}

/*
-----------------------------
MENU RECHERCHE
*/

.menu-recherche {
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.site__title {
    text-transform: uppercase;
    color: #ffffff;
    font-size: calc(0.09 * 100vw);
    margin: 0;
}

.top-bar__3__form-wrap {
    width: 100%;
}



/*
-----------------------------
MENU SITE
*/

.menu-site {
    width: 100%;
}

.menu-site > .menu__item > .menu__link {
    font-size: 1.875em;
    font-family: "VeneerTwo", "Source Sans Pro", sans-serif;
    letter-spacing: 0.025em;
    font-weight: normal;
    text-transform: uppercase;
    color: #ffffff;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.menu__item.menu__secundary > .menu__link {
    padding: 0.25em 0.5em;
    margin: 0.25em;
}

@media (min-width: 800px) {
    .menu-site {
        font-size: calc(0.70 * 100%);
    }
}

@media (max-width: 799px) {
    .menu-site {
        font-size: 0.75em;
        align-items: flex-start;
        padding: 0 !important;
    }

    .menu-site > .menu__item > .menu__link {
        padding-top: 0.25em;
        padding-bottom: 0.25em;
    }

    .menu-site > .menu__item.menu__secundary > .menu__link {
        padding: 0.5rem;
    }
}
.menu__item.menu__secundary > .menu__link {
    background-color: #b34818;
}

.menu__item.menu__secundary > .menu__link:hover,
.menu__item.menu__secundary > .menu__link:focus {
    background-color: #cc5121;
}

.menu__item.menu__secundary > .menu__link:active {
    background-color: #ea5f28;
}


/*
-----------------------------
MENU INTERSITES
*/

@media (max-width: 799px) {
    .menu-intersites {
        align-items: flex-end;
    }

    .bottom-bar_2 > .menu-intersites {
        align-items: flex-start;
        padding: 2em;
    }
}

@media (min-width: 800px) {
    .menu-intersites > .menu__item > .menu__link {
        padding: 1em 1.25em;
    }
}

.menu-intersites > .menu__item > .menu__link {
    color: #ffffff;
}

/*
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
BARS
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
*/

/*
-----------------------------
BOTTOM BAR 1
*/

.bottom-bar_1 {
    color: #ffffff;
    background-color: #a41515;
}

/*
-----------------------------
BOTTOM BAR 2
*/

.bottom-bar_2 {
    color: #ffffff;
    background-color: #85170f;
}


@media (min-width: 800px) {

    /*
    -----------------------------
    TOP BARS
    */

    .top-bar {
        position: relative;
    }

    .top-bar.block_trame::before {
        z-index: 3;
    }

    .top-bar.top-bar.block_trame > * {
        z-index: initial;
    }

    .chimney_top-bar {
        position: relative;
        z-index: 4 !important;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 85%;
    }

    .top-bar__2 {
        padding: 0 0.5em;
        box-sizing: border-box;
        color: #ffffff;
        background-color: #a41515;
    }

}

@media (max-width: 799px) {

    .main-nav__content,
    .top-bar {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;

    }

    .top-bar {
        width: 100%;
        order: 2;
    }

    .top-bar__1,
    .top-bar__2,
    .top-bar__3 {
        padding: 1em;
        box-sizing: border-box;
    }

    .top-bar__1 {
        width: 50%;
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
        padding-top: 1.5em;
        padding-left: 0;
        padding-bottom: 0;
    }

    .top-bar__2 {
        order: 3;
        width: 50%;
        padding-right: 0;
        padding-bottom: 0;
        border-left: 1px solid #ffffff;
    }

    .top-bar__3 {
        order: 1;
        width: 100%;
        padding: 0 1em;
        border-bottom: 1px solid #ffffff;
        background-color: transparent !important;
        z-index: 3;
    }
    
    .chimney_top-bar {
        margin: 0;
        width: 100%;
    }

    .top-bar_3.block_trame::before {
        display: none;
    }
}

@media (max-width: 599px) {
    .main-nav__content {
        font-size: calc(0.035 * 100vw);
    }
}


/*
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
Big screens menu content
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
*/

@media (min-width: 800px) {
    
}

/*
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
Small screens menu content
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
*/

@media (max-width: 799px) {

    #main-nav__splash__container {
        max-width: 90vw;
        max-height: 100vh;
        opacity: 0;
        transition: opacity 0.4s ease;
    }

}
